.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 4rem 0;
  }

  .image {
    width: 50%;
    margin: 0 auto;
  }

  @media screen and (max-width: 900px) {
    .image {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
  }
  
  @media screen and (max-width: 450px) {
  }
  