.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0;
}

.filter {
  display: flex;
  gap: 2rem;
}

.filter > div {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  font-family: "Amatic SC";
  font-size: 3rem;
  font-weight: 700;
}

.active {
  color: var(--blue);
}

.exhibitions {
  margin-top: 2rem;
}

.exhibition {
  font-size: 2rem;
  width: 80%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem auto;
  border: solid #485a5e;
  border-radius: 20px;
  padding: 2rem;
  cursor: pointer;
}

.exhibition:hover {
  transform: translate(-1px, 1px);
}

.soon {
  color: #288fa6;
}

.ended {
  color: rgb(221, 0, 255);
}

@media screen and (max-width: 900px) {
 .exhibition {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
 }
  }
  
  @media screen and (max-width: 600px) {
  
  }
  
  @media screen and (max-width: 450px) {
  }