.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0;
}

.filter {
  display: flex;
  gap: 2rem;
}

.filter > div {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.active {
    color: var(--blue);
}

.exhibitions {
  margin-top: 2rem;
}

.exhibition {
  font-size: 2rem;
    width: 80%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8rem auto;
    border: solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 2rem;
    cursor: pointer;
}

.exhibition:hover {
  transform: translate(-1px, 1px);
}

.soon {
    color: #288FA6;
}

.ended {
    color: rgb(221, 0, 255);
}