:root {
  --black: #000;
  --white: #fff;
  --magenta: #f861a2;
  --blue: #288FA6;
  --blue1: hsl(191, 80%, 50%);
} 

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  }

  main {
    margin-top: 5rem;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
  }
  h3 {
    font-family: "Inter";
    font-size: 2rem;
  }

h4 {
  font-family: "Inter";
  font-size: 1.5rem;
}
p {
  font-family: "Inter";
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
