:root {
  --black: #131314;
  --white: #f7f9f9;
  --blue1: #54c9e3;
  --blue2: #50bed6;
  --blue3: #46a7bd;
  --blue4: #388596;
  --blue5: #204d57;
  --grey1: #9cb2b7;
  --grey2: #4b5052;
  --magenta: #d66590;
  --green: #25778a;
  --yellow: #d6c83a;
  --sabsch: #8a812c;

  --navbarHeight: 7.5rem;
  --sectionSpace: 4rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  color: var(--black);
  background: var(--white);
}

main {
  padding: 0 2rem;
  margin-top: 5rem;
  min-height: calc(100vh - 5rem - var(--navbarHeight));
}

p {
  font-family: "Inter";
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-family: "Amatic SC";
}

h2 {
  font-size: 3rem;
  font-family: "Amatic SC";
}

h3 {
  font-size: 2.5rem;
  font-family: "Amatic SC";
}

p {
  font-size: 2rem;
  font-family: "Space Mono";
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@media screen and (max-width: 900px) {
  :root {
    --navbarHeight: 18rem;
  }
  main {
    margin-top: 18rem;
  }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 450px) {
}
