.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 0;
}

.news {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(43, 29, 46, 0.534);
  border-radius: 2rem;
  padding: 0 2rem;
}

.news h4:last-child {
  align-self: flex-end;
  text-decoration: underline;
  color: var(--blue1);
}

.exhibitions {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border: 1px solid rgba(43, 29, 46, 0.534);
  border-radius: 2rem;
  padding: 0 2rem;
}

.exhibitions h4:last-child {
  align-self: flex-end;
  text-decoration: underline;
  color: var(--blue1);
}
