.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: var(--navbarHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background: var(--white);
  font-family: "Amatic SC";
  font-weight: 700;
  font-size: 3.5rem;
  padding: 0 2rem;
  border-bottom: dotted;
}

.inner {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linksActive {
  color: var(--blue2);
}

.logo {
  cursor: pointer;
  padding: 0.5rem;
}

.links {
  display: flex;
  gap: 0 4rem;
}

@media screen and (max-width: 900px) {
  /* .navbar {
  padding: 1rem;
}

.inner {
  flex-direction: column;
}

.logo {
  border-bottom: 1px solid ;
} */
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 450px) {
}
